[PCF VERSION INFORMATION],,,,,,,,,,,,
[PART NUMBER],087-00015-T0-001,,,,,,,,,,,
[REVISION],P1,,,,,,,,,,,
[DESCRIPTION],PCF;ATE SW;XM3.1;PCBA;CCM;V0.00.0,,,,,,,,,,,
[VERSION],0.00.0,,,,,,,,,,,
[ECO],TBD,,,,,,,,,,,
[EDITOR],Aaron Cramer,,,,,,,,,,,
[DATE],10/12/2022,,,,,,,,,,,
[RELEASE CODE],F8545E1649DF00A528CF23C81E4FE652,,,,,,,,,,,
,,,,,,,,,,,,
[PCF VERSION HISTORY],,,,,,,,,,,,
[0.00.0],Initial draft of preliminary PCF,,,,,,,,,,,
,,,,,,,,,,,,
[CONFIGURATION],,,,,,,,,,,,
UUT Part Number,Config Scope,Config 1 Name,Config 1 Value,Config 2 Name,Config 2 Value,Config 3 Name,Config 4 Name,Config 4 Value,Comment,,,
704-00306-20-001,UUT,HW ID,1,,,,,,,,,
704-00306-30-001,UUT,HW ID,17,,,,,,,,,
704-00306-20-001,UUT,ARP File Path,C:\PEMicro\PROGACMP\supportFiles_ARM\Renesas\RA6x\Renesas_R7FA6M1AD3CFP_512kB.arp,,,,,,,,,
704-00306-30-001,UUT,ARP File Path,C:\PEMicro\PROGACMP\supportFiles_ARM\Renesas\RA6x\Renesas_R7FA6M1AD3CFP_512kB.arp,,,,,,,,,
704-00306-20-001,UUT,Device Type,Renesas_RA6x_R7FA6M1AD3CFP,,,,,,,,,
704-00306-30-001,UUT,Device Type,Renesas_RA6x_R7FA6M1AD3CFP,,,,,,,,,
704-00306-20-001,UUT,Test FW File Path,n/a,,,,,,,,,
704-00306-30-001,UUT,Test FW File Path,n/a,,,,,,,,,
704-00306-20-001,UUT,Prod FW Filter,3670002203*.s19,,,,,,,,,
704-00306-30-001,UUT,Prod FW Filter,3670002203*.s19,,,,,,,,,
704-00306-20-001,UUT,Prog Cfg File Path,C:\AlphaManufacturingTest\ATE_Software\087-00015-20\-000\ConfigData\PROG_CFG_RA.cfg,,,,,,,,,
704-00306-30-001,UUT,Prog Cfg File Path,C:\AlphaManufacturingTest\ATE_Software\087-00015-20\-000\ConfigData\PROG_CFG_RA.cfg,,,,,,,,,
,,,,,,,,,,,,
[TEST STIMULUS SPECIFICATIONS],,,,,,,,,,,,
UUT Part Number,Test ID,Step ID,Stimulus 1 Name,Stimulus 1 Value,Stimulus 2 Name,Stimulus 2 Value,Stimulus 3 Name,Stimulus 4 Name,Stimulus 4 Value,Comment,,
,,,,,,,,,,,,
[TEST RESULTS SPECIFICATIONS],,,,,,,,,,,,
UUT Part Number,Test ID,Step ID,Parameter Name,Data Type,Spec Type,Nominal,Tolerance,Units,Format,# of Retries,Retry Step ID,Comment
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,12V ISO LOW,12V ISO LOW,DBL,ABS TOLERANCE,11.65,0.6,VDC,,,,
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,12V ISO HIGH,12V ISO HIGH,DBL,ABS TOLERANCE,11.65,0.6,VDC,,,,
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,5V REG LOW,5V REG LOW,DBL,ABS TOLERANCE,5.1,0.2,VDC,,,,
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,3V3 REG LOW,3V3 REG LOW,DBL,ABS TOLERANCE,3.3,0.066,VDC,,,,
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,5V REG HIGH,5V REG HIGH,DBL,ABS TOLERANCE,5.1,0.2,VDC,,,,
Default,5.1 12V Converter | 5V Reg | 3.3V Reg,3V3 REG HIGH,3V3 REG HIGH,DBL,ABS TOLERANCE,3.3,0.066,VDC,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,FW PROG,FW PROG,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,UUT COMMS,UUT COMMS,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,PROD FW VERSION,PROD FW VERSION,STRING,STRING,NaN,NaN,V0.00.0M,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,SPI MEM TEST,SPI MEM TEST,DBL,ABS TOLERANCE,100,0,,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,WATCH DOG RESET,WATCH DOG RESET,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.2 Load FW | Flash Memory | Watchdog,FLASH MEMORY,FLASH MEMORY,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.3 CAN Transceiver Self-Test,CAN SELF-TEST,CAN SELF-TEST,DBL,ABS TOLERANCE,100,0,,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,5V XM,5V XM,DBL,ABS TOLERANCE,5,0.2,VDC,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,RS485 COMM,RS485 COMM,DBL,ABS TOLERANCE,1,0,,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,12V_XM_SW OFF,12V_XM_SW OFF,DBL,ABS TOLERANCE,0,0.5,VDC,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,12V_XM_SW ON,12V_XM_SW ON,DBL,ABS TOLERANCE,12,0.5,VDC,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,SUPERVISOR HIGH,SUPERVISOR HIGH,DBL,NUMERIC OVER,2.64,NaN,VDC,,,,
Default,5.4 5V_XM | RS485 | 12V_XM | Supervisor,SUPERVISOR LOW,SUPERVISOR LOW,DBL,NUMERIC UNDER,0.3,NaN,VDC,,,,
Default,5.5 Discrete IO Controls,BCU_RST_REQ HIGH,BCU_RST_REQ HIGH,DBL,ABS TOLERANCE,3.3,0.25,VDC,,,,
Default,5.5 Discrete IO Controls,BCU_RST_REQ LOW,BCU_RST_REQ LOW,DBL,NUMERIC UNDER,0.25,NaN,VDC,,,,
Default,5.5 Discrete IO Controls,LRI OFF,LRI OFF,DBL,ABS TOLERANCE,11.5,1,VDC,,,,
Default,5.5 Discrete IO Controls,LRI ON,LRI ON,DBL,NUMERIC UNDER,0.5,NaN,VDC,,,,
Default,5.5 Discrete IO Controls,TAMPER 1 LOW,TAMPER 1 LOW,DBL,ABS TOLERANCE,0,0,,,,,
Default,5.5 Discrete IO Controls,TAMPER 2 HIGH,TAMPER 2 HIGH,DBL,ABS TOLERANCE,1,0,,,,,
Default,5.5 Discrete IO Controls,WATER_INTRUSION LOW,WATER_INTRUSION LOW,DBL,ABS TOLERANCE,0,0,,,,,
Default,5.5 Discrete IO Controls,PAD_SHEAR HIGH,PAD_SHEAR HIGH,DBL,ABS TOLERANCE,1,0,,,,,
Default,5.5 Discrete IO Controls,TAMPER 1 HIGH,TAMPER 1 HIGH,DBL,ABS TOLERANCE,1,0,,,,,
Default,5.5 Discrete IO Controls,TAMPER 2 LOW,TAMPER 2 LOW,DBL,ABS TOLERANCE,0,0,,,,,
Default,5.5 Discrete IO Controls,WATER_INTRUSION HIGH,WATER_INTRUSION HIGH,DBL,ABS TOLERANCE,1,0,,,,,
Default,5.5 Discrete IO Controls,PAD_SHEAR LOW,PAD_SHEAR LOW,DBL,ABS TOLERANCE,0,0,,,,,
Default,5.6 12V PDU 12V REM Sensing,12V_REM,12V_REM,CORRELATION DBL,% TOLERANCE,NaN,0.02,VDC,,,,
Default,5.6 12V PDU 12V REM Sensing,12V_LPDU,12V_LPDU,CORRELATION DBL,% TOLERANCE,NaN,0.02,VDC,,,,
Default,5.7 LED Indicators,DS1 INTENSITY,DS1 INTENSITY,DBL,ABS TOLERANCE,60000,18000,,,,,
Default,5.7 LED Indicators,DS1 HUE,DS1 HUE,DBL,ABS TOLERANCE,120,10,,,,,
Default,5.7 LED Indicators,DS2 INTENSITY,DS2 INTENSITY,DBL,ABS TOLERANCE,60000,18000,,,,,
Default,5.7 LED Indicators,DS2 HUE,DS2 HUE,DBL,ABS TOLERANCE,0,10,,,,,
Default,5.7 LED Indicators,DS3 INTENSITY,DS3 INTENSITY,DBL,ABS TOLERANCE,60000,18000,,,,,
Default,5.7 LED Indicators,DS3 HUE,DS3 HUE,DBL,ABS TOLERANCE,120,10,,,,,
Default,5.7 LED Indicators,DS4 INTENSITY,DS4 INTENSITY,DBL,ABS TOLERANCE,60000,18000,,,,,
Default,5.7 LED Indicators,DS4 HUE,DS4 HUE,DBL,ABS TOLERANCE,0,10,,,,,
Default,5.7 LED Indicators,LED PATTERN 1,LED PATTERN 1,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.7 LED Indicators,LED PATTERN 2,LED PATTERN 2,BOOLEAN,BOOLEAN,1,NaN,,,,,
Default,5.8 Test Status,TEST STATUS,TEST STATUS,STRING,STRING,NaN,NaN,,,,,
,,,,,,,,,,,,
,Comments:,,,,,,,,,,,
,The [TEST STIMULUS SPECIFICATIONS] section contains a row or rows for each test stimulus that may change per UUT Part Number,,,,,,,,,,,
,The [TEST RESULTS SPECIFICATIONS] section contains a row or rows for each test step whose data will be in the test report,,,,,,,,,,,
,This file will be read into an array of Test Specs,,,,,,,,,,,
,"Format column can handle format of hex numbers - e.g., 0x%04x",,,,,,,,,,,
